<button id="create_user"><%= link_to "Create new user", new_user_path %></button>
<h3>List of all users</h3>
<% if @users.empty? %>
    <p><%= "There are no users to display" %></p>
<% else %>
    <% @users.each do |user| %>
        <a href= <%= user_path(id: user.id) %> class="single_user" id= <%= user.name %>>
        <%= render partial: "user", locals: { user: user } %>
        </a>
      <% end %>
<% end %>