<% if @posts.empty?%>
    <p><%= @posts %></p>
<% else %>
<%= render partial: "/users/user", locals: { user: @posts[0].author } %>
<% @posts.each_with_index do |post, index| %>
    <div id="single_post">
        <%= render partial: "post", locals: { post: post, index: index + 1, url: request.path} %>
        <div class="comment_section">
            <% post.most_recent_comments.each do |comment| %>
                <%= render partial: "comment", locals: { comment: comment} %>
            <% end %>
        </div>
    </div>
    <% end %>
<%= paginate @posts %>
<% end %>

