<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <% if user_signed_in? %>
  <%= current_user.name %>
  <%= button_to "log out", destroy_user_session_path, method: :delete, id: "log_out_btn" %>
  <% end %>
  
  <%= yield %>

  </body>
</html>
